.group-form {
    h1 {
        font-size: 32px;
    }
}

.group-preview-card {
    padding: 20px;
    h1 {
        font-size: 32px;
    }
}

.relation-cards-wrapper {
    section {
        min-height: 100px;
    }
}