@import "../../../assets/style/global.scss";

.splash-background {
    background-image: url('../../../assets/svg/waveOrange.svg');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;

    .column {
        flex: 50%;
        height: 93vh; //-7 for topbar

        &.left {
            float: left;

            .left-wrapper {
                margin-top: -60px;
                height: inherit;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
            }

            .header {
                font-family: FredokaOne;
            }

            .paragraph {
                font-family: Roboto;
            }

            .button {
                width: 200px;
                align-self: left;
            }

            .links-container {
                color: $text-light;
                align-self: start;
                position: absolute;
                margin-left: 50px;
                margin-top: calc(100vh - 50px);
                align-items: left;
            }
        }

        &.right {
            float: right;
            background-image: url('../../../assets/images/OrangeSplash.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;

            a {
                position: relative;
                top: 88vh;
                left: 40%;
                user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -o-user-select: none;
                
                img {
                    width: 30px;
                    height: auto;
                    animation: arrowBlink 2s infinite;
                }
        
                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .unselectable {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}

.footer {
    background-color: #FDB90F;
    color: $text-light;

    .column {
        flex: 33%;
        width: 100%;
        height: inherit;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;

        a {
            color: $text-light;
            text-decoration: none;
        }
    }
}