$current-breadcrumb-color: black;
$first-breadcrumb-color: lightslategray;

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    
    .current {
        color: $current-breadcrumb-color;
    }

    .first {
        color: $first-breadcrumb-color;
    }
}