.page-title {
    align-self: flex-start;
}

.avatar-container {
    margin-top: 10px;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .col {
        flex: .33;
    }

    .avatar {
        border: 1px solid $avatar-border-color;
        width: 100px;
        height: 100px;
    }

    .edit-pfp {

        .upload-button {
            margin-left: 10px;
            height: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .upload-text {
                margin-left: 5px;
            }
        }
    }
}

.account-field {
    margin-bottom: 15px;

    &.two-fields {
        display: flex;
        flex-direction: row;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: .5;
            margin-right: 20px;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: .5;
            margin-left: 20px;
        }
    }

    &.long-field {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex: 1;
    }
}

.save-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account-tab-avatar-button {

    .text {
        opacity: 0;
    }

    &:hover {
        .text {
            opacity: 1;
        }
    }
}